<script>
	jQuery(document).ready(function($){
		$('.accordion-title').click(function() {
			$('.accordionhidden').hide();
			$(this).next().toggle("slow").addClass('accordionhidden');
			return false;
		});
	});			
</script>
<div class="ann_themes">
	<h5>Annonces par thèmes</h5>
	<div>
		{% for entitie in entities %} 
			<div class="accordion-title">{{entitie.title}}</div>
			<div class="accordion-content accordionhidden" style="display: none;">
				<ul>
                                      
                                    {% for nature in entitie.natures %} 
                                        <li><a href="{{path('star_search_engine_search', {'theme': entitie.id, 'nature': nature.id})}}">{{nature.title}}</a></li>
                                    {% endfor %}
				</ul>
			</div>
		{% endfor %}
	</div>
</div>
