<script>
	jQuery(document).ready(function($){
		$('.accordion-title').click(function() {
			$('.accordionhidden').hide();
			$(this).next().toggle("slow").addClass('accordionhidden');
			return false;
		});
	});			
</script>
<div class="ann_themes">
	<h5>Annonces par thèmes</h5>
	<div>
		{% for entitie in entities %} 
			<div class="accordion-title">{{entitie.title}}</div>
			<div class="accordion-content accordionhidden" style="display: none;">
				<ul>
					<li><a href="tunisie-annonce-recherche-1-automobiles">Automobiles</a></li>
					<li><a href="tunisie-annonce-recherche-2-motos-scooters">Motos, Scooters</a></li>
					<li><a href="tunisie-annonce-recherche-3-bateaux">Bateaux</a></li>
					<li><a href="tunisie-annonce-recherche-122-velos">Vélos</a></li>
					<li><a href="tunisie-annonce-recherche-4-autoradios">Autoradios</a></li>
					<li><a href="tunisie-annonce-recherche-5-pieces-accessoires">Pièces Accessoires</a></li>
					<li><a href="tunisie-annonce-recherche-6-autre">Autre</a></li>
					<li><a href="tunisie-annonce-recherche-tout-1-autos-motos-bateaux">Tout</a></li>
				</ul>
			</div>
		{% endfor %}
	</div>
</div>
