.titre_star {
    display: block;
    background: url(../img/stars.gif) no-repeat left center;
    padding: 5px 0 5px 27px;
    overflow: hidden;
    font-size: 15px;
    font-weight: bold;
    margin: 0px 0px 10px;
    color: #666;
}
div .slide-stars {
    margin: 20px auto 0px auto;
    width: 543px;
    height: 300px;
    position: relative;
    color: #fff;
    overflow: hidden;
    padding: 5px;
    border: 3px solid #ccc;
    background-color: #ffffff;
    -moz-box-shadow: 1px 1px 4px #cccccc;
    -webkit-box-shadow: 1px 1px 4px #cccccc;
    box-shadow: 1px 1px 4px #cccccc;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 4px;
    margin: 0px 0px 10px 0px;
}





.cn_wrapper {
    background-color: #FFFFFF;
    border: 3px solid #CCCCCC;
    border-radius: 4px 4px 4px 4px;
    box-shadow: 1px 1px 4px #CCCCCC;
    color: #FFFFFF;
    height: 300px;
    margin: 0 0 10px;
    overflow: hidden;
    padding: 5px;
    position: relative;
    width: 517px;
}
#close {
    background-image: url("../images/close.png");
    height: 20px;
    width: 20px;
}
.cn_wrapper h1 {
    color: #393838;
    font-size: 14px;
    margin: 5px 0 0;
}
.cn_wrapper h2 {
    border-bottom: 1px solid #FFFFFF;
    color: #666666;
    font-size: 15px;
    padding-bottom: 4px;
}
.cn_preview, .cn_list {
    height: 300px;
    left: 6px;
    position: absolute;
    top: 2px;
    width: 250px;
}
.cn_preview {
    left: 255px;
}
.cn_content {
    background-color: #EDECEC;
    border: 1px solid #EDECEC;
    border-radius: 5px 5px 5px 5px;
    color: #717576;
    height: 275px;
    left: 5px;
    padding: 10px;
    position: absolute;
    top: 310px;
    width: 272px;
}
.cn_content img {
    box-shadow: 1px 1px 4px #000000;
    margin: auto;
    max-height: 161px;
    max-width: 215px;
    text-align: center;
}
.cn_date {
    bottom: 53px;
    font-size: 11px;
    position: absolute;
    right: 8px;
}
.cn_category {
    border-radius: 2px 2px 2px 2px;
    bottom: 25px;
    color: #208BB1 !important;
    font-size: 11px;
    left: 2px;
    padding: 1px 5px;
    position: absolute;
}
.cn_content p {
    margin-top: 2px;
    overflow: visible;
}
a.cn_more {
    background-color: #F68600;
    border-radius: 2px 2px 2px 2px;
    bottom: 0;
    color: #FFFFFF !important;
    cursor: pointer;
    font-size: 12px;
    font-weight: bold;
    left: 0;
    letter-spacing: 1px;
    outline: medium none;
    padding: 4px 0;
    position: absolute;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    width: 271px;
}
a.cn_more:hover {
    color: #011C44;
    text-shadow: 1px 1px 1px #CCCCCC;
}
.cn_item {
    background: none repeat scroll 0 0 #EDECEC;
    border-radius: 2px 2px 2px 2px;
    color: #208BB1;
    cursor: pointer;
    height: 52px;
    margin: 6px 5px 0 0;
    overflow: hidden;
    padding: 5px;
    position: relative;
}
.cn_item:hover, .selected {
    background-color: #208BB1;
    border-color: #208BB1;
    color: #FFFFFF;
}
.cn_item:hover h2, .cn_list .selected h2, .cn_item:active h2 {
    border-color: #FFFFFF;
}
.cn_item:hover p, .cn_list .selected p, .cn_item:active p {
    border-color: #FFFFFF;
}
.cn_item:active {
    color: #011C44;
    text-shadow: 1px 1px 1px #CCDFFC;
}
.cn_list p {
   border-top: 1px solid #FFFFFF;
    height: 29px;
    overflow: hidden;
    padding-top: 2px;
}
.cn_nav {
    bottom: 0;
    height: 50px;
    left: 94px;
    position: absolute;
    width: 55px;
}
a.cn_next, a.cn_prev {
    background-color: #208BB1;
    background-position: center center;
    background-repeat: no-repeat;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 3px #CCCCCC;
    cursor: pointer;
    float: left;
    height: 23px;
    outline: medium none;
    width: 23px;
}
a.cn_next {
    background-image: url("../img/next.png");
}
a.cn_prev {
    background-image: url("../img/prev.png");
    margin-right: 5px;
}
.cn_nav a:hover {
    background-color: #F68600;
}
.cn_nav a:active {
    background-color: #000000;
    margin-top: 1px;
}
.cn_nav a.disabled {
    opacity: 0.5;
}
.cn_page {
    display: none;
}

.cn_list h2 {
    color: #666666;
    font-size: 15px;
    padding-bottom: 4px;
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 1px;
}

.star-desc {
    color: #61767C;
    font-size: 12px;
    font-weight: normal;
    line-height: 20px;
    margin: 7px 0 7px 0;
    text-align: left;
    
}