parameters:
#    star_annonces.example.class: Star\AnnoncesBundle\Example

services:
#    star_annonces.example:
#        class: %star_annonces.example.class%
#        arguments: [@service_id, "plain_value", %parameter%]
    star.annonces.admin.gouv:
        class: Star\AnnoncesBundle\Admin\GouvAdmin
        tags: 
            - { name: sonata.admin, manager_type: orm, group: Les régions, label: Les gouvernorats }
        arguments: [null, Star\AnnoncesBundle\Entity\Gouv, StarAnnoncesBundle:GouvAdmin]

    star.annonces.admin.deleg:
        class: Star\AnnoncesBundle\Admin\DelegAdmin
        tags: 
            - { name: sonata.admin, manager_type: orm, group: Les régions, label: Les délégations }
        arguments: [null, Star\AnnoncesBundle\Entity\Deleg, StarAnnoncesBundle:DelegAdmin]

    star.annonces.admin.locality:
        class: Star\AnnoncesBundle\Admin\LocalityAdmin
        tags: 
            - { name: sonata.admin, manager_type: orm, group: Les régions, label: Les localités }
        arguments: [null, Star\AnnoncesBundle\Entity\Locality, StarAnnoncesBundle:LocalityAdmin]

    star.annonces.admin.theme:
        class: Star\AnnoncesBundle\Admin\ThemeAdmin
        tags: 
            - { name: sonata.admin, manager_type: orm, group: Les catégories, label: Liste des thèmes }
        arguments: [null, Star\AnnoncesBundle\Entity\Theme, StarAnnoncesBundle:ThemeAdmin]

    star.annonces.admin.nature:
        class: Star\AnnoncesBundle\Admin\NatureAdmin
        tags: 
            - { name: sonata.admin, manager_type: orm, group: Les catégories, label: Liste des catégories }
        arguments: [null, Star\AnnoncesBundle\Entity\Nature, StarAnnoncesBundle:NatureAdmin]

    star.annonces.admin.brand:
        class: Star\AnnoncesBundle\Admin\BrandAdmin
        tags: 
            - { name: sonata.admin, manager_type: orm, group: Les catégories, label: Liste des marques }
        arguments: [null, Star\AnnoncesBundle\Entity\Brand, StarAnnoncesBundle:BrandAdmin]

    star.annonces.admin.Model:
        class: Star\AnnoncesBundle\Admin\ModelAdmin
        tags: 
            - { name: sonata.admin, manager_type: orm, group: Les catégories, label: Liste des modèles }
        arguments: [null, Star\AnnoncesBundle\Entity\Model, StarAnnoncesBundle:ModelAdmin]
    
    star.annonces.admin.Energy:
        class: Star\AnnoncesBundle\Admin\EnergyAdmin
        tags: 
            - { name: sonata.admin, manager_type: orm, group: Les catégories, label: Liste des energies }
        arguments: [null, Star\AnnoncesBundle\Entity\Energy, StarAnnoncesBundle:EnergyAdmin]