{% block fos_user_content %}
	{% for type, messages in app.session.flashbag.all() %}
		kkkk
        {% for message in messages %}
            <div class="flash-{{ type }}">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
	{% include "FOSUserBundle:Profile:edit_content.html.twig" %}
{% endblock fos_user_content %}