
{% extends "::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body -%}
	<div class="alert alert-success" >
	  	<button type="button" class="close" data-dismiss="alert" style="right:0px">×</button>
	  	<p>
	  		<strong>Merci.</strong> Votre annonce a été déposée avec succès.<br>
	  		elle sera vérifiée avant d'être publiée, vous venez de gagner {{seuil.nbPointsPerAdds}} stars pour l'annonce ajoutée.
	  	</p>
	</div>
{% endblock %}