<table border="0" width="700">
    <tbody>
        <tr>
            <td height="91" colspan="2" background="http://starannonces.local/img/bg_haut.gif"><img src="http://starannonces.local/img/haut_mail.gif"></td>
	</tr>
	<tr>
            <td colspan="2" valign="top" align="right"><font color="#1485af"></font></td>
	</tr>
	<tr>
	<td height="91" colspan="2" valign="top" align="left"><br>
            Chère\cher membre,<br><br>
            Vous avez reçu un nouveau message de la part de <b>{{name}}</b>.<br><br>

	Pour lire ce message, merci de cliquer sur ce lien <a rel="nofollow" target="_blank" href="http://www.starannonces.com/espace_membre.php">cliquez ici</a>
	<br><br>
	Cordialement,<br>
	l'équipe de starannonces.tn</td>
	</tr>
	<tr>
	<td colspan="2" align="right" bgcolor="#FFFFFF" >&nbsp; </td>
	</tr>
	<tr>
	<td width="60%" align="right"></td>
	<td width="40%"></td>
	</tr>
	<tr>
	<td align="left" colspan="2" height="10">
            <p><br>
                <font color="#808080"><b>starannonces.tn </b>&nbsp;- </font><b>
                <a rel="nofollow" target="_blank" href="http://www.starannonces.tn">
	<font color="#808080">http://www.starannonces.tn</font></a></b><font color="#808080"><br>
	<font color="#808080">( ceci est un message automatique )</font></font></p></td>
	</tr>
	</tbody></table>