
{% extends "::layout-detail.html.twig" %}
    
{% block title %}
  Espace membre - {{ parent() }}
{% endblock %}
{% block body -%}
<div id="member-space" style="width:740px">
  <div class="titre_star">Espace membre </div>
  
    <ul id="tabs">
      <li id="current"><a href="#" name="tab1"><i class="icon-envelope"></i> Messages</a></li>
      <li id=""><a href="#" name="tab2"><i class="icon-bullhorn"></i> Mes annonces</a></li>
      <li id=""><a href="#" name="tab3"><i class="icon-star"></i> Mes stars</a></li>
      <li id=""><a href="#" name="tab4"><i class="icon-heart"></i> Mes fovoris</a></li>
      <li id=""><a href="#" name="tab5"><i class="icon-user"></i> Profil</a></li>

      <!--<li id=""><a href="#" name="tab6"><i class="icon-lock"></i> Mot de passe</a></li>-->

    </ul>
  
    <div id="content-tab" > 
        
     
    
      <div id="tab1" style="display: block;">
        <ul id="sub-tabs">
            <li id="current"><a href="#" name="sub-tab1"><i class="icon-inbox"></i> Messages Reçus</a></li>
            <li id=""><a href="#" name="sub-tab2"><i class="icon-share"></i> Messages envoyés</a></li>
            <li id=""><a href="#" name="sub-tab3"><i class="icon-trash"></i> Corbeille</a></li>
        </ul>
              
        <div id="sub-content-tab">
            <div id="sub-tab1" style="display: block;">
                {% render url('fos_message_inbox') %}
            </div>
            <div id="sub-tab2" style="display: none;">
                {% render url('fos_message_sent') %}
            </div>
            <div id="sub-tab3" style="display: none;">
                {% render url('fos_message_deleted') %}
            </div>
        </div>
          
      </div>
      <div id="tab2" style="display: none;">
          <h3>Mes annonces</h3>
          
          {% render url('annonce_list') %}

      </div>
      <div id="tab3" style="display: none;">
          <h2>Phasellus non nibh</h2>
          <p>Non erat laoreet ullamcorper. Pellentesque magna metus, feugiat eu elementum sit amet, cursus sed diam. Curabitur posuere porttitor lorem, eu malesuada tortor faucibus sed.</p>
          <h3>Duis pulvinar nibh vel urna</h3>
          <p>Donec purus leo, porttitor eu molestie quis, porttitor sit amet ipsum. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Donec accumsan ornare elit id imperdiet. </p>
          <p>Suspendisse ac libero mauris. Cras lacinia porttitor urna, vitae molestie libero posuere et. </p>
      </div>
      <div id="tab4" style="display: none;">
          <h3>Mes Favoris</h3>
         {% render url('fav_list') %}
      </div>
      <div id="tab5" style="display: none;">
        <ul id="sub-profil-tabs">
            <li id="current"><a href="#" name="sub-profil-tab4"><i class="icon-user"></i> Gestion de profil</a></li>
            <li id=""><a href="#" name="sub-profil-tab5"><i class="icon-lock"></i> Mot de passe</a></li>
        </ul>

        <div id="sub-content-profil-tab">
            <div id="sub-profil-tab4" style="display: block;">
                <h2>Gestion de profil</h2>
                <p class="text-info">
                    Complétez votre profil et gagnez plus de stars !
                </p>
                <div id="profile-edit-content">
                  {% render url('fos_user_profile_edit') %}
                </div>
            </div>
            <div id="sub-profil-tab5" style="display: none;">
                changer le mot de passe  ..... 
            </div>
        </div>
      </div>
      
  </div>
  
 <script>
    $(document).ready(function() {
        $("#content-tab").find("[id^='tab']").hide(); // Hide all content
        $("#tabs li:first").attr("id","current"); // Activate the first tab
        $("#content-tab #tab1").fadeIn(); // Show first tab's content

        $('#tabs a').click(function(e) {
            e.preventDefault();
            if ($(this).closest("li").attr("id") == "current"){ //detection for current tab
             return;       
            }
            else{             
              $("#content-tab").find("[id^='tab']").hide(); // Hide all content
              $("#tabs li").attr("id",""); //Reset id's
              $(this).parent().attr("id","current"); // Activate this
              $('#' + $(this).attr('name')).fadeIn(); // Show content for the current tab
            }
        });
        $("#sub-content-tab").find("[id^='sub-tab']").hide(); // Hide all content
        $("#sub-tabs li:first").attr("id","current"); // Activate the first tab
        $("#sub-content-tab #sub-tab1").fadeIn(); // Show first tab's content

        $('#sub-tabs a').click(function(e) {
            e.preventDefault();
            if ($(this).closest("li").attr("id") == "current"){ //detection for current tab
             return;       
            }
            else{             
              $("#sub-content-tab").find("[id^='sub-tab']").hide(); // Hide all content
              $("#sub-tabs li").attr("id",""); //Reset id's
              $(this).parent().attr("id","current"); // Activate this
              $('#' + $(this).attr('name')).fadeIn(); // Show content for the current tab
            }
        });

        $("#sub-profil-content-tab").find("[id^='sub-profil-tab']").hide(); // Hide all content
        $("#sub-profil-tabs li:first").attr("id","current"); // Activate the first tab
        $("#sub-profil-content-tab #sub-tab4").fadeIn(); // Show first tab's content

        $('#sub-profil-tabs a').click(function(e) {
            e.preventDefault();
            if ($(this).closest("li").attr("id") == "current"){ //detection for current tab
             return;       
            }
            else{
              $("#sub-content-profil-tab").find("[id^='sub-profil-tab']").hide(); // Hide all content
              $("#sub-profil-tabs li").attr("id",""); //Reset id's
              $(this).parent().attr("id","current"); // Activate this
              $('#' + $(this).attr('name')).fadeIn(); // Show content for the current tab
            }
        });




    });
    
    </script>
  
{% endblock %}
  