{% extends "::layout.html.twig" %}

{% block title %}
  Accueil - {{ parent() }}
{% endblock %}

{% block body -%}
{# Underscore templates for the uploader #}
{% include "PunkAveFileUploaderBundle:Default:templates.html.twig" %}

    <h3>Rechercher une annonce</h3>
   
    
  
    

    


<script type="text/javascript">


</script>


{% endblock %}
