<link rel="stylesheet" href="{{ asset('css/star.css') }}" type="text/css" />
<div class="titre_star">Les annonces Stars</div>
<div class="slide-stars">

















<div class="cn_preview" id="cn_preview">
			
			
			<!--||||||||||||||||||||||||||-->
			string(350) "SELECT DISTINCT(anon_Id),anon_cat_Id,anon_Titre,anon_reg_Id,anon_long_Desc,anon_Dcr,image_Url3,anon_Visite FROM st_annonces, st_images WHERE anon_Id IN (202,218,219,220) AND st_images.image_anon_Id = st_annonces.anon_Id AND st_images.image_Url3 IS NOT NULL AND anon_Valid =1   AND anon_indesi ="1" GROUP BY anon_Id ORDER BY anon_Dcr DESC  LIMIT 0, 40"
int(1)
						<div style="top: 5px;" class="cn_content">
							<div style="width: 219px; text-align:center"><a target="_blank" style="width:100%; text-align:center; margin:auto" href="tunisie-annonce-220-d-coration-pour-b-b-kairouan-cherarda-cherarda"><img alt="Bébés Enfants - Décoration" src="/server/php/thumbnails/bébé.jpg"></a></div> 
							<h5>Décoration pour bébé</h5>
							<p>annonce star star</p>
							<div>
							<div style="text-align:left; color:#FF6C00; text-shadow:none; float:left; width:105px;">Vue 12 fois&nbsp;</div>
							<div style="text-align:left; float:left; width:105px; text-align:right;">09/01/2014</div>
							</div>
							<div class="cn_category"><a style="color:#1291D3" href="tunisie-annonce-recherche-region-KAIROUAN">KAIROUAN</a> - <a style="color:#1291D3" href="tunisie-annonce-recherche-ville-CHERARDA">CHERARDA</a> - <a style="color:#1291D3" href="tunisie-annonce-recherche-localite-1786">CHERARDA</a></div>
							<a class="cn_more" target="_blank" href="tunisie-annonce-220-d-coration-pour-b-b-kairouan-cherarda-cherarda">Détail Annonce</a>
                                                        
                                                        
						</div>
												<div class="cn_content" style="top: 310px;">
							<div style="width: 219px; text-align:center"><a target="_blank" style="width:100%; text-align:center; margin:auto" href="tunisie-annonce-219-bateau-vendre-mahdia-ksour-essaf-cite-el-bassatine"><img alt="Bébés Enfants - Décoration" src="/server/php/thumbnails/bateau1 (10).jpg"></a></div> 
							<h1>Bateau à vendre </h1>
							<p>dddddddddddddddddddddddddd qdddddddddddd qssqdsqd</p>
							<div>
							<div style="text-align:left; color:#FF6C00; text-shadow:none; float:left; width:105px;">Vue 8 fois&nbsp;</div>
							<div style="text-align:left; float:left; width:105px; text-align:right;">07/01/2014</div>
							</div>
							<div class="cn_category"><a style="color:#1291D3" href="tunisie-annonce-recherche-region-MAHDIA">MAHDIA</a> - <a style="color:#1291D3" href="tunisie-annonce-recherche-ville-KSOUR ESSAF">KSOUR ESSAF</a> - <a style="color:#1291D3" href="tunisie-annonce-recherche-localite-2423">CITE EL BASSATINE</a></div>
							<a class="cn_more" target="_blank" href="tunisie-annonce-219-bateau-vendre-mahdia-ksour-essaf-cite-el-bassatine">Détail Annonce</a>
                                                        
                                                        
						</div>
												<div class="cn_content" style="top: 310px;">
							<div style="width: 219px; text-align:center"><a target="_blank" style="width:100%; text-align:center; margin:auto" href="tunisie-annonce-218-autos-motos-bateux-vend-beja-beja-nord-bou-keslane"><img alt="Autos, Motos, Bateaux - Automobiles" src="/server/php/thumbnails/velo (3).jpg"></a></div> 
							<h1>Autos, Motos, Bateux à vend</h1>
							<p>test de test de test de test de test de test de test de test de test ...</p>
							<div>
							<div style="text-align:left; color:#FF6C00; text-shadow:none; float:left; width:105px;">Vue 5 fois&nbsp;</div>
							<div style="text-align:left; float:left; width:105px; text-align:right;">07/01/2014</div>
							</div>
							<div class="cn_category"><a style="color:#1291D3" href="tunisie-annonce-recherche-region-BEJA">BEJA</a> - <a style="color:#1291D3" href="tunisie-annonce-recherche-ville-BEJA NORD">BEJA NORD</a> - <a style="color:#1291D3" href="tunisie-annonce-recherche-localite-236">BOU KESLANE</a></div>
							<a class="cn_more" target="_blank" href="tunisie-annonce-218-autos-motos-bateux-vend-beja-beja-nord-bou-keslane">Détail Annonce</a>
                                                        
                                                        
						</div>
												<div class="cn_content" style="top: 310px;">
							<div style="width: 219px; text-align:center"><a target="_blank" style="width:100%; text-align:center; margin:auto" href="tunisie-annonce-202-ssssssssssss-beja-beja-nord-beja"><img alt="Au féminin - Soin, beauté" src="/server/php/thumbnails/36560-aquarium-light (9).jpg"></a></div> 
							<h1>ssssssssssss</h1>
							<p>414141</p>
							<div>
							<div style="text-align:left; color:#FF6C00; text-shadow:none; float:left; width:105px;">Vue 1 fois&nbsp;</div>
							<div style="text-align:left; float:left; width:105px; text-align:right;">23/12/2013</div>
							</div>
							<div class="cn_category"><a style="color:#1291D3" href="tunisie-annonce-recherche-region-BEJA">BEJA</a> - <a style="color:#1291D3" href="tunisie-annonce-recherche-ville-BEJA NORD">BEJA NORD</a> - <a style="color:#1291D3" href="tunisie-annonce-recherche-localite-235">BEJA</a></div>
							<a class="cn_more" target="_blank" href="tunisie-annonce-202-ssssssssssss-beja-beja-nord-beja">Détail Annonce</a>
                                                        
                                                        
						</div>




						<div class="cn_content" style="top: 310px;">
							<div style="width: 219px; text-align:center"><a target="_blank" style="width:100%; text-align:center; margin:auto" href="tunisie-annonce-202-ssssssssssss-beja-beja-nord-beja"><img alt="Au féminin - Soin, beauté" src="/server/php/thumbnails/36560-aquarium-light (9).jpg"></a></div> 
							<h1>ssssssssssss</h1>
							<p>414141</p>
							<div>
							<div style="text-align:left; color:#FF6C00; text-shadow:none; float:left; width:105px;">Vue 1 fois&nbsp;</div>
							<div style="text-align:left; float:left; width:105px; text-align:right;">23/12/2013</div>
							</div>
							<div class="cn_category"><a style="color:#1291D3" href="tunisie-annonce-recherche-region-BEJA">BEJA</a> - <a style="color:#1291D3" href="tunisie-annonce-recherche-ville-BEJA NORD">BEJA NORD</a> - <a style="color:#1291D3" href="tunisie-annonce-recherche-localite-235">BEJA</a></div>
							<a class="cn_more" target="_blank" href="tunisie-annonce-202-ssssssssssss-beja-beja-nord-beja">Détail Annonce</a>
                                                        
                                                        
						</div>



						<div class="cn_content" style="top: 310px;">
							<div style="width: 219px; text-align:center"><a target="_blank" style="width:100%; text-align:center; margin:auto" href="tunisie-annonce-202-ssssssssssss-beja-beja-nord-beja"><img alt="Au féminin - Soin, beauté" src="/server/php/thumbnails/36560-aquarium-light (9).jpg"></a></div> 
							<h1>sssssssssddddddddddfdv dd</h1>
							<p>414141</p>
							<div>
							<div style="text-align:left; color:#FF6C00; text-shadow:none; float:left; width:105px;">Vue 1 fois&nbsp;</div>
							<div style="text-align:left; float:left; width:105px; text-align:right;">23/12/2013</div>
							</div>
							<div class="cn_category"><a style="color:#1291D3" href="tunisie-annonce-recherche-region-BEJA">BEJA</a> - <a style="color:#1291D3" href="tunisie-annonce-recherche-ville-BEJA NORD">BEJA NORD</a> - <a style="color:#1291D3" href="tunisie-annonce-recherche-localite-235">BEJA</a></div>
							<a class="cn_more" target="_blank" href="tunisie-annonce-202-ssssssssssss-beja-beja-nord-beja">Détail Annonce</a>
                                                        
                                                        
						</div>


									<!--||||||||||||||||||||||||||-->
				
			</div>




			<div class="cn_list" id="cn_list">
			<div style="display:block;" class="cn_page">								

								<div class="cn_item selected">

									<h2>Décoration pour bébé</h2>
									<p>09/01/2014</p>
								</div>
							
								<div class="cn_item">
									<h2>Bateau à vendre </h2>
									<p>07/01/2014</p>
								</div>
							
								<div class="cn_item">
									<h2>Autos, Motos, Bateux à vend</h2>
									<p>07/01/2014</p>
								</div>
							
								<div class="cn_item">
									<h2>ssssssssssss</h2>
									<p>23/12/2013</p>
								</div>
								

							
			</div>

			<div   class="cn_page">
				<div class="cn_item">
						<h2>ddddddddddddd</h2>
						<p>23/12/2013</p>
				</div>
				<div class="cn_item">
					<h2>fffffffffffff</h2>
					<p>23/12/2013</p>
				</div>
			</div>			
				
				<div class="cn_nav">
					<a class="cn_prev" id="cn_prev"></a>
					<a class="cn_next" id="cn_next"></a>
				</div>
			</div>

















</div>

		<script type="text/javascript" src="{{ asset('bundles/starannonces/js/JQuery.easing.1.3.js') }}"></script>

		


        <script type="text/javascript">
            $(function() {
                //caching
				//next and prev buttons
				var $cn_next	= $('#cn_next');
				var $cn_prev	= $('#cn_prev');
				//wrapper of the left items
				var $cn_list 	= $('#cn_list');
				var $pages		= $cn_list.find('.cn_page');
				//how many pages
				var cnt_pages	= $pages.length;
				//the default page is the first one
				var page		= 1;
				//list of news (left items)
				var $items 		= $cn_list.find('.cn_item');
				//the current item being viewed (right side)
				var $cn_preview = $('#cn_preview');
				//index of the item being viewed. 
				//the default is the first one
				var current		= 1;
				
				/*
				for each item we store its index relative to all the document.
				we bind a click event that slides up or down the current item
				and slides up or down the clicked one. 
				Moving up or down will depend if the clicked item is after or
				before the current one
				*/
				$items.each(function(i){
					var $item = $(this);
					$item.data('idx',i+1);
					
					$item.bind('click',function(){
						var $this 		= $(this);
						$cn_list.find('.selected').removeClass('selected');
						$this.addClass('selected');
						var idx			= $(this).data('idx');
						var $current 	= $cn_preview.find('.cn_content:nth-child('+current+')');
						var $next		= $cn_preview.find('.cn_content:nth-child('+idx+')');
						
						if(idx > current){
							$current.stop().animate({'top':'-300px'},600,'easeOutBack',function(){
								$(this).css({'top':'310px'});
							});
							$next.css({'top':'310px'}).stop().animate({'top':'5px'},600,'easeOutBack');
						}
						else if(idx < current){
							$current.stop().animate({'top':'310px'},600,'easeOutBack',function(){
								$(this).css({'top':'310px'});
							});
							$next.css({'top':'-300px'}).stop().animate({'top':'5px'},600,'easeOutBack');
						}
						current = idx;
					});
				});
				
				/*
				shows next page if exists:
				the next page fades in
				also checks if the button should get disabled
				*/
				$cn_next.bind('click',function(e){
					var $this = $(this);

					$cn_prev.removeClass('disabled');
					++page;
					
					if(page == cnt_pages)
						$this.addClass('disabled');
					if(page > cnt_pages){ 
						page = cnt_pages;
						return;
					}	
					$pages.hide();
					$cn_list.find('.cn_page:nth-child('+page+')').fadeIn();
					e.preventDefault();
				});
				/*
				shows previous page if exists:
				the previous page fades in
				also checks if the button should get disabled
				*/
				$cn_prev.bind('click',function(e){
					var $this = $(this);
					$cn_next.removeClass('disabled');
					--page;
					if(page == 1)
						$this.addClass('disabled');
					if(page < 1){ 
						page = 1;
						return;
					}
					$pages.hide();
					$cn_list.find('.cn_page:nth-child('+page+')').fadeIn();
					e.preventDefault();
				});
				
            });
        </script>
